# ignore the python class files (.pyc)
__pycache__/

# ignore the log file
logs/*.log

# ignore the test XML file
output*.xml
test.xml

# ignore the key files
keyFiles/keys_*.txt

# ignore the upload files
uploads/*.xml

# ignore the configure file
blp.config
