# The configuration file for blp_trade
#

[input]

# the directory to look for input XML files
#directory=C:\blp\Connection\TradeFile(ToGENEVA)\SENT
directory=C:\Users\steven.zhang\AppData\Local\Programs\Git\git\blp_trade\samples


# the portfolio whose trades need to be extracted
portfolio=40006
#portfolio=TEST6
